body {
    align-items: center;
    background-color: blueviolet;
    color: white;
    display: flex;
    font-family: cursive;
    font-size: 2.4rem;
    font-size: 62.5%;
    height: 100vh;
    justify-content: center;    
    margin: 0;
}

.container {
    display: flex;
    text-align: center;
}

.mouse-event {
    align-items: center;
    border-radius: 1rem 1rem  50rem 50rem ;
    border: 2px solid red;
    display: flex;
    font-size: 1.8rem;
    justify-content: center;
    margin: 4rem;
    min-height: 100px;
    min-width: 180px;
    position: relative;
}

.mouse-event h4 {
    color: lightgray;
    font-size: 1rem;
    font-weight: 100;
    left: 50%;
    position: absolute;
    top: -50px;
    transform: translate(-50%);
    white-space: nowrap;
}

@media (max-width:500px){
    .container{
        flex-direction: column;    
    }
}